.feature-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 30px;
  max-width: 1500px;
  margin: auto;
}

.feature-list {
  flex: 1 1 550px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
  height: 400px;
}

.feature-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
  padding: 25px;
}

.icon-title {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.icon-title img {
  width: 32px;
  height: 32px;
}

.icon-title h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: #003366;
}

.icon-title p {
  margin: 4px 0 0;
  color: #444;
  font-size: 0.95rem;
  max-width: 400px;
}

.arrow {
  width: 36px;
  height: 36px;
  border: 2px solid #ddd;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #003366;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
}

.arrow:hover {
  background: #003366;
  color: #fff;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 10px 0;
}

.feature-image {
  flex: 1 1 450px;
}

.feature-image img {
  width: 100%;
  object-fit: cover;
  height: 400px;
  max-height: 600px;
}

.section4-btn{
  text-align: center;
}
#btn-last{
    /* border: none; */
    padding: 20px;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px 5px;
    border: 2px solid rgb(138, 185, 255);
    color: #002b5b;
    text-align: center;
    /* font-family: 100px; */
}

#btn-last:hover{
    transition: 1s;
    border: none;
    color: white;
    background-color: rgb(211, 7, 7);
}


@media (max-width: 768px) {
  .feature-section {
    flex-direction: column-reverse;
    align-items: center;
  }

  .feature-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .arrow {
    margin-top: 10px;
  }
}
